<!-- <p>header works!</p> -->

<header class="header">
    <div class="header-content d-flex">
      <!-- <h1>Website Header</h1> -->
      <div class="icons" style="display: flex;">
        <span class="notification-icon"><i class="fa fa-bell"></i></span> 
        <div class="vertical-line"></div>
        <img src="../../../assets/download.png" alt="Profile Icon">
        <select class="form-select dropdown-menu">
          <option selected>profile1</option>
          <option>profile2</option>
          <option>profile3</option>
        </select>
      </div>
    </div>
  </header>
  
